.menu {
    height: 700px;
    background-image: url(./../../images/locations/00_menu.jpg);
    background-size: cover;
}
.menu p {
    position: absolute;
    color: slategrey;
    top:500px;
    left: 700px;
    font-size: 50px;
}
.menu p:hover {
    color: red;
}