.placeWithCrowbar {
    height: 700px;
    background-image: url(./../../../images/locations/06_placeWithCrowbar.JPG);
    background-size: cover;
}
.crowbar {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 450px;
    left: 700px;
}
.crowbar img {
    width: 70px;
    height: 70px;
}