.inventory {
    position: absolute; 
    top: 600px;
    width: 1000px;
    height: 100px;
    text-align: right;
}
.inventory img {
    border-radius: 10px;
    width: 80px;
    height: 80px;
}
.inventory p {
    font-weight: bold;
    font-size: 30px;
}
.cell {
    display: inline-block;
    border: black 10px solid;
    border-radius: 20px;
    width: 80px;
    height: 80px;
}
.inventory .inventoryImg {
    border: black 5px solid;
    width: 90px;
    height: 90px;
}

