.hallway {
    height: 700px;
    background-image: url(./../../../images/locations/11_hallway.jpg);
    background-size: cover;
}

.doorToKingsRoom {
    position: absolute;
    top: 350px;
    left: 370px;
}
.doorToKingsRoom .linkButton {
    height: 150px;
    width: 90px;
}
.doorToKingsRoom .linkButton button {
    height: 110px;
    width: 50px;
    opacity: 0;
}
.doorToKingsRoom .menu {
    border: black 1px solid;
    border-radius: 5px;
    background-color: cornsilk;
    visibility: hidden;
    opacity: 0;
    transition: all 2s ease 0.5s;
}
.doorToKingsRoom .linkButton:hover~ .menu {
    opacity: 1;
    visibility: visible
}
