.men {
    height: 700px;
    background-image: url(./../../../images/locations/07_menInPrison.jpg);
    background-size: cover;
}
.men p, .men ol {
    margin: 0 auto;
    width: 700px;
    background-color: rgb(173, 195, 236);
    border-radius: 15px;
    border: 7px black solid
}
.men ol {
    width: 500px;
}
.men ol li:hover {
    color: red;
}