.men {
    height: 700px;
    background-image: url(https://avatars.mds.yandex.net/get-zen_doc/1347728/pub_5bf9899fbddd2800abc12b13_5bf98ce0a6884500a99819a8/scale_1200);
    background-size: cover;
}
.men p, .men ol {
    margin: 0 auto;
    width: 700px;
    background-color: rgb(173, 195, 236);
    border-radius: 15px;
    border: 7px black solid
}
.men ol {
    width: 500px;
}
.men ol li:hover {
    color: red;
}